# 错误码统一管理
# Y是有效请求，N是无效请求
# (有效请求|无效请求)=业务状态码=业务状态码描述=企查查API状态码=企查查API状态码描述#首付预警
Y=200=成功=200=【有效请求】查询成功=N
Y=200=成功=201=【有效请求】查询无结果=N
Y=200=成功=205=【有效请求】等待处理中=N


N=400=参数异常=223=【无效请求】查询参数模糊，无法获取结果=N
Y=400=参数异常=202=【有效请求】查询参数错误，请检查=N
Y=400=参数异常=213=【有效请求】参数长度不能小于2=N
Y=400=参数异常=215=【有效请求】不支持的查询关键字=N
Y=400=参数异常=218=【有效请求】该企业暂不支持空壳扫描=N
Y=400=参数异常=219=【有效请求】该企业暂不支持准入尽调=N


N=403=权限异常=111=【无效请求】接口权限未开通，请联系管理员=N
N=403=权限异常=115=【无效请求】身份验证错误或者已过期=N
N=403=权限异常=103=【无效请求】当前KEY被暂停使用=N
N=403=权限异常=101=【无效请求】当前的KEY无效或者还未生效中=N
N=403=权限异常=113=【无效请求】当前接口已被删除，请重新申请=N
N=403=权限异常=114=【无效请求】当前接口已被禁用，请联系管理员=N
N=403=权限异常=118=【无效请求】当前接口不支持此方式的调用=N
N=403=权限异常=119=【无效请求】您的账号出现异常，请联系管理员=N
N=403=权限异常=121=【无效请求】数据不能出境=N
N=403=权限异常=123=【无效请求】您的请求已达未认证权益上限，请及时认证=N
N=403=权限异常=125=【无效请求】此接口不支持此企业类型查询=N
N=403=权限异常=126=【无效请求】查询参数类型或结构有误=N
N=403=权限异常=214=【无效请求】您还未购买过该接口，请先购买=N
N=403=权限异常=104=【无效请求】请求KEY异常，请联系管理员=N
N=403=权限异常=107=【无效请求】被禁止的IP或者签名错误=N
Y=403=权限异常 =208=【有效请求】此接口不支持此公司类型查询=N
Y=403=权限异常 =105=【有效请求】接口已下线停用=N


N=429=频率异常=106=【无效请求】非法请求过多，请联系管理员=N
N=429=频率异常=108=【无效请求】异常请求过多，请联系管理员=N
N=429=频率异常=109=【无效请求】请求超过每日系统限制=N
N=429=频率异常=116=【无效请求】请求超过每日调用总量限制=N
N=429=频率异常=117=【无效请求】当前不支持的请求参数调用量过多=N
N=429=频率异常=122=【无效请求】请求超过系统并发限制=N
Y=429=频率异常 =207=【有效请求】请求数据的条目数超过上限（5000）=N
Y=429=频率异常 =209=【有效请求】企业数量超过上限=N
Y=429=频率异常 =110=【有效请求】当前相同查询连续出错，请等2小时后重试=N


N=500=服务异常=120=【无效请求】系统流量异常，请稍后再试=N
N=500=服务异常=124=【无效请求】系统维护中，暂时无法下单=N
N=500=服务异常=199=【无效请求】系统未知错误，请联系技术客服=N
N=500=服务异常=203=【无效请求】系统查询有异常，请联系技术人员=N


N=600=服务量不足=112=【无效请求】您的账号剩余使用量已不足或已过期=Y
N=600=服务量不足=102=【无效请求】当前KEY已欠费=Y